* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  object-fit: contain;
}

body {
  background-color: #22254b;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie_con {
  width: 250px;
  margin: 20px;
  background-color: #373b69;
  color: white;
  box-shadow: 3px 3px 5px #141527;
}

.movie_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.tit {
  /* h4의 기존 마진값 제거 */
  margin: 0;
}